body {
  background-color: #000;
  color: darkred;
  font-family: 'Montserrat', sans-serif;
  display: block;
}

.content,
.store-info,
span {
  display: flex;
  align-items: center;
}

.content {
  text-align: center;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;
}

.description {
  /* font-style: italic; */
  font-size: 0.75rem;
  color: grey;
}

.hidden {
  display: none;
}

table,
.menu {
  width: 100%;
}

.store-info {
  flex-direction: row;
  padding: 0.3rem;
}

.store-info i {
  font-size: 1.5rem;
  color: darkgrey;
  padding-right: 0.75rem;
  transition: 0.25s ease-in-out;
}

.store-info i:hover {
  color: darkred;
}

.table {
  width: 100%;
  margin: 0 auto;
  color: darkgrey;
}

.spicy {
  flex-direction: row;
}

.spicy i {
  font-size: 1.5rem;
  color: darkred;
  padding-right: 0.75rem;
}

.hot {
  width: 7%;
  color: darkred;
}

.name {
  width: 10%;
}

.item {
  width: 70%;
}

.price {
  width: 13%;
}

tr {
  display: flex;
  flex-direction: row;
  padding: 0.1rem 0.15rem;
}

tr:nth-child(even) {
  background-color: rgb(34, 8, 8);
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  padding-top: 0.5rem;
  line-height: 1;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

img {
  max-width: 250px;
}

p {
  font-size: 1rem;
  line-height: 1.25;
  color: white;
}
