{% extends 'layout.html' %}

{% block content %}
    <img src="{{ url_for('static', filename='img/logo_text_cropped.png') }}" alt="Mandarin Garden Logo">
    <h2>Cantonese Dining and Takeout</h2>
    <span class="store-info"><i class="far fa-clock"></i><h3>Hours</h3></span>
    <p>Mon-Thurs 11 AM - 9:30 PM</p>
    <p>Fri-Sat 11 AM - 10:30 PM</p>
    <p>Sunday 12 PM - 9 PM</p>
    <span class="store-info"><i class="fas fa-phone"></i><h3>Phone</h3></span>
    <p>435-753-5789</p>
    <span class="store-info"><i class="far fa-compass"></i><h3>Address</h3></span>
    <p>432 N Main</p>
    <p>Logan, UT 84321</p>
{% endblock content %}