{% extends 'layout.html' %}
{% block nav %}
<div class="header">
  <h2 class="logo">Mandarin Garden</h2>
  <input id="chk" type="checkbox" />
  <label for="chk" class="show-menu-btn">
    <i class="fas fa-ellipsis-h"></i>
  </label>

  <ul class="menu">
    <a class="link active" href="/">Main</a>
    <a class="link" href="/menu">Menu</a>
    <a class="link" href="/specials">Specials</a>
    <a class="link" href="/combos">Combos</a>
    <a class="link" href="/discounts">Discounts</a>
    <label for="chk" class="hide-menu-btn">
      <i class="fas fa-times"></i>
    </label>
  </ul>
</div>
{% endblock nav %}
{% block content %}
<img src="{{ url_for('static', filename='img/logo_text_cropped.png') }}" alt="Mandarin Garden Logo" />
<h2>Cantonese Dining and Takeout</h2>
<div class="hours-box">
  <div class="hours-icon">
    <span class="store-info">
      <i class="fas fa-clock"></i>
    </span>
  </div>

  <div class="hours-list">
    <p>Mon-Thurs 11 AM - 9:30 PM</p>
    <p>Fri-Sat 11 AM - 10:30 PM</p>
    <p>Sunday 12 PM - 9 PM</p>
  </div>
</div>

<span class="store-info">
  <a href="tel:435-753-5789"><i class="fas fa-phone"></i></a>
  <p>(435) 753-5789</p>
</span>

<span class="store-info">
  <a href="https://www.google.com/maps/place/Mandarin+Garden+Restaurant/@41.7397545,-111.8365773,17z/data=!4m13!1m7!3m6!1s0x87547e0ac2cc08cf:0x4037b2ab32e3d654!2s432+Main+St,+Logan,+UT+84321!3b1!8m2!3d41.7397505!4d-111.8343833!3m4!1s0x87547e0ae6f8fca9:0xd255786aab20e50b!8m2!3d41.7397505!4d-111.8343833"
    target="blank">
    <i class="fas fa-map-marked-alt"></i>
  </a>
  <p>432 N Main, Logan, UT 84321</p>
</span>

{% endblock content %}