<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/e30d2815ef.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logo_no_text.png') }}"
      type="image/x-icon"
    />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Mandarin Garden</title>
  </head>
  <body>
    <nav>
      {% block nav %}{% endblock nav %}
    </nav>
    <main>
      <div class="content">
        {% block content %}{% endblock content%}
      </div>
      <!-- Insert accepted payment options -->
      <!-- Insert Social Media -->
    </main>
    <!-- Insert Footer -->
  </body>
</html>
