<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/e30d2815ef.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='resets.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='restyle.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logo_no_text.png') }}"
      type="image/x-icon"
    />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Mandarin Garden</title>
  </head>
  <body>
    <nav class="header">
      {% block nav %}{% endblock nav %}
    </nav>
    <main>
      <div class="content">
        {% block content %}{% endblock content%}
      </div>
      <!-- Insert accepted payment options -->
    </main>
    <footer class="content footer">
      <div class="social">
        <a
          href="https://www.facebook.com/pages/Mandarin-Garden/224926764370069"
          target="blank"
        >
          <i class="facebook fab fa-facebook-square"></i>
        </a>
        <a href="#">
          <i class="twitter fab fa-twitter-square"></i>
        </a>
        <a
          href="https://www.instagram.com/explore/locations/790252799/mandarin-garden/"
          target="blank"
        >
          <i class="instagram fab fa-instagram"></i>
        </a>
        <a
          href="https://www.yelp.com/biz/mandarin-garden-logan?osq=mandarin+garden"
          target="blank"
        >
          <i class="yelp fab fa-yelp"></i>
        </a>
      </div>
      <div class="copyright">
        <p>&copy2019 GingerBeard Tech</p>
      </div>
    </footer>
  </body>
</html>
