{% extends 'layout.html' %} {% block nav %}
<div class="header">
  <h2 class="logo">Mandarin Garden</h2>
  <input id="chk" type="checkbox" />
  <label for="chk" class="show-menu-btn">
    <i class="fas fa-ellipsis-h"></i>
  </label>

  <ul class="menu">
    <a class="link" href="/">Main</a>
    <a class="link active" href="/menu">Menu</a>
    <a class="link" href="/specials">Specials</a>
    <a class="link" href="/combos">Combos</a>
    <a class="link" href="/discounts">Discounts</a>
    <label for="chk" class="hide-menu-btn">
      <i class="fas fa-times"></i>
    </label>
  </ul>
</div>
{% endblock nav %} {% block content %}
<h2>Menu</h2>
<span class="store-info" style="display: flex; flex-direction: row;">
  <a href="tel:+435-753-5789"><i class="fas fa-phone"></i></a>
  <p>(435) 753-5789</p>
</span>
<br />
<span class="spicy">
  <i class="fas fa-pepper-hot"></i>
  <p>Denotes Spicy</p></span
>
<br />
{% for section in menu %}
<div class="table food-menu">
  <h3 class="menu-section">{{ section.header }}</h3>
  <table>
    {% for menu_item in section.item_list %}
    <tr>
      <td class="hot">
        {% if menu_item.hot == True %}
        <i class="fas fa-pepper-hot"></i>
        {% else %} {% endif %}
      </td>
      <td class="name">{{ menu_item.name }}</td>
      <td class="item" style="text-transform: capitalize;">
        {{ menu_item.item }}
        <br />
        <span class="description">{{ menu_item.description }}</span>
      </td>
      <td class="price">{{ menu_item.price }}</td>
    </tr>
    {% endfor %}
  </table>

  <br />
</div>

{% endfor %} {% endblock content %}
