{% extends 'layout.html' %} 

{% block nav %}
<div class="menu-btn">
    <a class="link" href="/">Main</a>
    <a class="link active" href="/menu">Menu</a>
    <a class="link" href="/specials">Specials</a>
    <a class="link" href="/combos">Combos</a>
    <a class="link" href="/discounts">Discounts</a>
    </ul>
</div>
{% endblock nav %}

{% block content %}
<h2>Menu</h2>
<span class="store-info" style="display: flex; flex-direction: row;">
  <a href="tel:+435-753-5789"><i class="fas fa-phone"></i></a>
  <p>(435) 753-5789</p>
</span>

<span class="hours"><p>Served Monday-Friday 11 AM to 3:30 PM</p></span>
<br />
<span class="spicy">
  <i class="fas fa-pepper-hot"></i>
  <p>Denotes Spicy</p></span
>
<br />
{% for section in menu %}
<div class="table menu">
  <h3>{{ section.header }}</h3>
  <table>
    {% for menu_item in section.item_list %}
    <tr>
      <td class="hot">
        {% if menu_item.hot == True %}
        <i class="fas fa-pepper-hot"></i>
        {% else %} {% endif %}
      </td>
      <td class="name">{{ menu_item.name }}</td>
      <td class="item" style="text-transform: capitalize;">
        {{ menu_item.item }}
        <br />
        <span class="description show">{{ menu_item.description }}</span>
      </td>
      <td class="price">{{ menu_item.price }}</td>
    </tr>
    {% endfor %}
  </table>

  <br />
</div>

{% endfor %} {% endblock content %}
