{% extends 'layout.html' %} {% block content %}
<h3>Luncheon Specials</h3>
<span class="hours">Served Monday-Friday 11 AM to 3:30 PM</span>
<p>
  Lunch is served with: FRIED RICE, [EGGROLLS/WONTONS(3)], AND SOUP [EGGDROP/HOT
  N SOUR/WONTON] OR SALAD FOR $0.50 EXTRA
</p>
<br />
<span class="spicy"
  ><i class="fas fa-pepper-hot"></i>
  <p>Denotes Spicy</p></span
>
<br />
<div class="table">
  <table>
    {% for special in specials %}
    <tr>
      <td class="hot">
        {% if special.hot == 'True' %}
        <i class="fas fa-pepper-hot"></i>
        {% else %} {% endif %}
      </td>
      <td class="name">{{ special.name }}</td>
      <td class="item" style="text-transform: capitalize;">
        {{ special.item }}
      </td>
      <td class="price">{{ special.price }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
